p {
  margin-bottom:12px;
}
h1 {
  font-size:36px;
  font-weight:400;
  margin-bottom:0px;
}
h2 {
  font-size:32px;
  font-weight:400;
  border-bottom: gray 1px;
  margin-bottom:8px;
}
.cursiv {
  font-style: italic;
}
.under-head {
  font-size:24px;
  font-weight: 400;
  margin-top:12px;
}
.header-title {
  text-align:center;
}
.under-div {
  border-bottom: 1px solid grey;
}
h2.header-title {
  font-size:18px;
  border-bottom: none;
  margin-bottom: 10px;
}
#header {
  margin-bottom:32px;
}
.rovno {
  text-align:center;
}
#footer {
  margin-top:64px;
}
.otstup {
  margin-bottom:12px;
}
.otstup-levo {
  margin-left:625px;
  margin-right:625px;
}
li {
  list-style-type:circle;
}
.li-otstup {
  margin-left:40px;
}
